.rodape-bg {
  background-color: var(--cor-12);
}
.rodape {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.rodape h3 {
  margin-bottom: 32px;
}
.rodape-contato ul,
.rodape-infos ul {
  margin-bottom: 32px;
}
.rodape-contato li,
.rodape-infos li {
  margin-bottom: 16px;
}
.rodape-contato li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--cor-c2);
  margin-top: 16px;
}

.rodape-redes {
  display: flex;
  gap: 40px;
}

.rodape a:hover {
  color: var(--cor-0);
}

.rodape-direitos {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .rodape > img {
    display: none;
  }
  .rodape {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .rodape {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .rodape-direitos {
    margin-top: 0px;
  }
}
